<html>
	<head>
		<title> This is just a test hbs template </title>
	</head>
	<body>
		<div style="postion:absolute; top:0;">
			This is the default header
		</div>
		{{{body}}}
		<div style="position:absolute; bottom:0">
			This is the default footer that comes in all pages
		</div>
	</body>
</html>